* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  Verdana, sans-serif;
    background-color: #fff9f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #8b5c33;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    font-family: "Lora", serif;
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-family: "Lora", serif;
    font-size: 2.8em;
    margin-bottom: 10px;
}

p{
      font-family: "Lora", serif;
      font-size: 1.2em;
}
section {
    padding: 30px 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.acciones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.acciones button {
        font-family: "Lora", serif;
    background-color: #d2691e;
    color: white;
    border: none;
    padding: 30px 40px;
    font-size: 3em;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.acciones button:hover {
    background-color: #a0522d;
    transform: scale(1.05);
}


footer {
    background-color: #8b5c33;
    margin-top: 3em;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .acciones button {
        width: 80%;
        padding: 18px;
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    .acciones {
        flex-direction: column;
        gap: 15px;
    }

    .acciones button {
        width: 90%;
    }
}
